<div class="container">
  <h1><%= @place["name"] %></h1>

  <p>
    <a href="/entries/new?place_id=<%= @place["id"] %>" class="btn btn-primary">New Post</a>
  </p>

  <div class="row">
    <% @entries.each do |entry| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title"><%= entry["title"] %></h5>
            <p class="card-text"><%= entry["occurred_on"] %></p>
            <% if entry.uploaded_image.attached? %>
              <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid">
            <% else %>
              <img src="<%= entry["image"] %>" class="img-fluid">
            <% end %>
            <p class="card-text"><%= entry["description"] %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <p>
    <a href="/places">Back to All Places</a>
  </p>

</div>
